.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

/* SIDEBAR HEADER - TOP LEFT */

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__header__right {
  display: flex;
  align-items: center;
  min-width: 10vw;
  justify-content: space-between;
}

.sidebar__header__right > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

/* SIDEBAR SEARCH */

.sidebar__search {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  padding: 1rem;
}

.sidebar__search__container {
  display: flex;
  align-items: center;
  background: white;
  height: 39px;
  padding: 10px;
  width: 100%;
  border-radius: 1.5rem;
}

.sidebar__search__container > input {
  border: none;
  margin-left: 10px;
  width: 100%;
}

.sidebar__search__container > .MuiSvgIcon-root {
  color: gray;
}

/* SIDEBAR CHAT */

.sidebar__chats {
  background: blue;
  flex: 1;
}
